<!DOCTYPE html>
<html>
  <head>
    <title>Submission</title>
  </head>
  <body>
    <h1>Submitted form details</h1>
    <details>
      <summary>Name</summary>
      <p><%= name %></p>
    </details>
    <details>
      <summary>Course</summary>
      <p><%= course %></p>
    </details>
    <details>
      <summary>Age</summary>
      <p><%= age %></p>
    </details>
    <details>
      <summary>Email</summary>
      <p><%= email %></p>
    </details>
  </body>
</html>